<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login page......!!!</h1>
    <div style="text-align: center; width: 300px;margin-left: 200px;border: 1px solid black;">
        <h1>login</h1>
        
        <form method="post">
            {% csrf_token %}
            {% if err %}
                {{err}}
            {% endif %}
            <table>
                <tr>
                    <th>Email:</th>
                    <td><input type="text" name="email" /></td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" name="password"/></td>
                </tr>
            
            </table>
            <br/>
            <button>Login</button>
            <a href="{% url 'registration' %}">Signup</button><br/>
                <a>forgot password</a>
                    </form>
    </div>
</body>
</html>