<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration.....!!!</h1>
    <div style=" border: 1px,black,solid; width: 350px;text-align: center;">
  
    <form method="post">
        {% csrf_token %}
        {% if has_error %}
            {{has_error}}
        {% endif %}
        {% if has_pass%}
                {{has_pass}}
            {% endif %}
        <table>
            <tr><th>{{ form.Email.label }}</th><td> {{ form.Email }}</td></tr>
            <tr><th>{{ form.First_name.label }}</th><td> {{ form.First_name }}</td></tr>
            <tr><th>{{ form.Last_name.label }}</th><td> {{ form.Last_name }}</td></tr>
            <tr><th>{{ form.Phone_Number.label }}</th><td> {{ form.Phone_Number }}</td></tr>
            <tr><th>{{ form.Password.label }}</th><td> {{ form.Password }}</td></tr>
            <tr><th>{{ form.category.label }}</th><td>{{form.category }}</td></tr>
            
            <tr><th>confirmPassword</th><td><input type='text' name="confpass"/></td></tr>
        </table>
        <button>register</button>
        <a href="{% url 'loginpage'%}">Login</a>
        
    </form>
</div>
    
</body>
</html>